body {
    margin: 0px 0px;
}

header {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    width: 100%;
}

#item1 {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#item1 div {
    width: 49%;
}