body {
    margin: 0px 0px;
    text-align: center;
}

.container {
    display: grid;
    background-color: black;
    justify-content: center;
    color: white;
    margin-bottom: 60px;
}

.wrapper {
    display: grid;
    justify-content: center;
    grid-gap: 15px;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12;
}

.one {
    align-self: baseline;
    display: grid;
    grid-column-start: 2;
    justify-items: center;
    align-content: center;
}

.two {
    margin-left: 10px;
}

p {
    font-size: 10px;
}

img {
    width: 100%;
}

.wrapper2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 60px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 30px;
}

.wrapper2 div:nth-child(1) {
    grid-column-start: 2;
}

.img {
    width: 180px;
}